{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FishTank</title>
    {% tailwind_css %}
    
</head>
<body class="flex flex-col min-h-screen">
    {% include 'member/mains/header.html' %}
    <main class="flex flex-col grow bg-white">
       
      {% block main %}
      
      {% endblock %}
    </main>
    {% include 'member/mains/footer.html' %}
  </body>
</html>